COMPOSE_PROJECT_NAME=pet_care

# Ports
P_POSTGRES=5432
P_PGADMIN=5050
P_MAIN_APP=8000
P_PROMETHEUS=9090
P_LOCUST_APP=8089
P_LOCUST_EXPORTER=9646
P_NODE_EXPORTER=9100
P_GRAFANA=3000


POSTGRES_DB=test_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_PORT=${P_POSTGRES}
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False

GF_SECURITY_ADMIN_PASSWORD=admin

FASTAPI_APP_CONFIG__RUN__HOST=0.0.0.0
FASTAPI_APP_CONFIG__RUN__PORT=${P_MAIN_APP}

FASTAPI_APP_CONFIG__ACCESS_TOKEN__reset_password_token_secret=token
FASTAPI_APP_CONFIG__ACCESS_TOKEN__verification_token_secret=token

S3_CONFIG__KEYS__access_key=token
S3_CONFIG__KEYS__secret_key=token


FASTAPI_APP_CONFIG__ADMIN__EMAIL=admin@admin.com
FASTAPI_APP_CONFIG__ADMIN__PASSWORD=admin